<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goonie4T3AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{84,124}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,80},{84,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,358},{94,124}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,80},{94,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,126},{94,124}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,80},{94,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,974},{120,120}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,84},{120,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{144,120}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,84},{144,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,848},{124,118}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,86},{124,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{144,118}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,86},{144,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,722},{124,118}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,86},{124,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{144,118}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,86},{144,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{96,122}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,82},{96,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1188},{86,124}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,80},{86,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{82,126}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,78},{82,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{84,124}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,80},{84,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{88,118}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,98},{88,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1458},{90,114}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,98},{90,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{124,112}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,98},{124,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{146,114}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,96},{146,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{128,120}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,95},{128,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{148,116}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,94},{148,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{130,120}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,95},{130,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,116}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,94},{150,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{130,122}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,93},{130,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{90,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,94},{90,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1096},{90,118}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,96},{90,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,602},{90,118}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,97},{90,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{88,118}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,98},{88,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1276},{84,124}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,80},{84,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,484},{94,116}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{94,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1362},{88,118}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,98},{88,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie4T3FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,252},{102,104}}</string>
                <key>offset</key>
                <string>{-20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{102,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goonie4T3AttackNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{254,1550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faf1c4c54858c081bee95b7ddbd04a8c:3dc3dc6029d5fe8b3396e975ab350efe:ff99fc564abdd77475d56e427d40d7a9$</string>
            <key>textureFileName</key>
            <string>Goonie4T3AttackNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
