<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CashStorageT300.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{145,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,161}}</string>
                <key>sourceSize</key>
                <string>{145,161}</string>
            </dict>
            <key>CashStorageT301.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,161}}</string>
                <key>sourceSize</key>
                <string>{145,161}</string>
            </dict>
            <key>CashStorageT302.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,161}}</string>
                <key>sourceSize</key>
                <string>{145,161}</string>
            </dict>
            <key>CashStorageT303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,161}}</string>
                <key>sourceSize</key>
                <string>{145,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CashStorageT3@2x.pvr.ccz</string>
            <key>size</key>
            <string>{590,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:356878e176a3d0a5fbcfb0ece2934d03:882b3ece14fada7237a45d5ac2069377:f68cce6df7f7f529b4cd841da52e1fd4$</string>
            <key>textureFileName</key>
            <string>CashStorageT3@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
