<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilDrillT100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{85,104}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{85,104}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{85,110}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{85,116}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,116}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{85,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,118}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{85,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{85,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{85,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{85,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{85,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,118}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{85,116}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,116}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{85,112}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{85,112}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{85,108}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>OilDrillT114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{85,104}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OilDrillT1@2x.pvr.ccz</string>
            <key>size</key>
            <string>{89,1758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d11c92c1f3c5851a7d7ff541ba4350cc:943d025bd79887c72fd25dcd97178258:c8a7a644d7fb4942d916cbc31e376b6a$</string>
            <key>textureFileName</key>
            <string>OilDrillT1@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
