<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CashStorageT100.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{152,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,172}}</string>
                <key>sourceSize</key>
                <string>{152,172}</string>
            </dict>
            <key>CashStorageT101.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,172}}</string>
                <key>sourceSize</key>
                <string>{152,172}</string>
            </dict>
            <key>CashStorageT102.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,172}}</string>
                <key>sourceSize</key>
                <string>{152,172}</string>
            </dict>
            <key>CashStorageT103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,172}}</string>
                <key>sourceSize</key>
                <string>{152,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CashStorageT1@2x.pvr.ccz</string>
            <key>size</key>
            <string>{618,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c2ac12a8394f0c7c1886cfad20b807a:1cb88319ab83aaeabd56bbeb88864f71:d1f7fc3e77dfcd42c8f7f99e1da2ec01$</string>
            <key>textureFileName</key>
            <string>CashStorageT1@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
