<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goonie5T2RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{78,136}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,79},{78,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{80,140}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,78},{80,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{86,134}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,76},{86,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{90,136}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,74},{90,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{92,126}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,78},{92,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{92,128}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,77},{92,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,128}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,75},{92,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{80,130}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,75},{80,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{86,112}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,99},{86,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{80,108}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,100},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{80,116}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,100},{80,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{80,118}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,96},{80,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1872},{78,110}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,97},{78,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{80,104}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,99},{80,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{80,112}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,98},{80,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie5T2RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{80,112}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,97},{80,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goonie5T2RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{96,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f43a69268c97bdfa4d9460130d959c82:6dcb6b0b3470d0b0ced879be0f53ffe3:707b033120de9d64a0c6fbb4728fcc1f$</string>
            <key>textureFileName</key>
            <string>Goonie5T2RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
