<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilDrillT200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{84,103}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{84,103}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>OilDrillT201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{82,97}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{82,97}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>OilDrillT202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{84,103}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{84,103}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>OilDrillT203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{86,111}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{86,111}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>OilDrillT204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>OilDrillT205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>OilDrillT206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>OilDrillT207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{90,111}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OilDrillT2@2x.pvr.ccz</string>
            <key>size</key>
            <string>{94,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbc402215621aeebdbf26438e3b89539:fce955a43f4a7d040918b288c0cd5ef0:12f607e3fbce8763d4c4b4cae9e2ea60$</string>
            <key>textureFileName</key>
            <string>OilDrillT2@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
