<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilStorageT300.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{141,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,179}}</string>
                <key>sourceSize</key>
                <string>{141,179}</string>
            </dict>
            <key>OilStorageT301.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{141,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,179}}</string>
                <key>sourceSize</key>
                <string>{141,179}</string>
            </dict>
            <key>OilStorageT302.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,179}}</string>
                <key>sourceSize</key>
                <string>{141,179}</string>
            </dict>
            <key>OilStorageT303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,179}}</string>
                <key>sourceSize</key>
                <string>{141,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OilStorageT3@2x.pvr.ccz</string>
            <key>size</key>
            <string>{574,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efbd505bb30c51ee855f47b4a7f9b9b7:47aaf0d673c3505099049fbe933a0f29:db3f9c291dae4d949964a940de993ab2$</string>
            <key>textureFileName</key>
            <string>OilStorageT3@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
