<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goonie2T4RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{84,136}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,79},{84,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{86,138}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{86,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{86,132}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{86,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,134}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,76},{90,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{86,126}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,78},{86,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{86,126}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,79},{86,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{88,126}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,77},{88,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{86,128}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,77},{86,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{88,106}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,105},{88,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{90,100}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,108},{90,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{90,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,106},{90,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{88,112}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,102},{88,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{88,106}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,104},{88,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{88,104}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,106},{88,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{88,106}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{88,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie2T4RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{90,106}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,103},{90,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goonie2T4RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{94,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d8a6552272c73bc56d5928071bcbc7:8ebd262293c4c7d003f897f93c97e1d1:b59aec37133018210519ebc8d33dac9a$</string>
            <key>textureFileName</key>
            <string>Goonie2T4RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
