<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goonie1T2AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,258},{88,126}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,78},{88,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,514},{102,126}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,78},{102,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,386},{102,126}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,78},{102,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{128,124}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,80},{128,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{152,122}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,82},{152,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{130,120}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,84},{130,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{154,120}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,84},{154,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{132,120}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,84},{132,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,120}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,84},{154,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,642},{106,122}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,82},{106,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{94,126}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,78},{94,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1296},{84,126}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,78},{84,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,258},{88,126}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,78},{88,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1506},{80,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,92},{80,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,976},{84,118}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,94},{84,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,766},{120,114}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,96},{120,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{142,116}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,94},{142,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{126,122}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,93},{126,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{146,118}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,92},{146,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{128,124}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,91},{128,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{146,118}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,92},{146,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{128,124}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,91},{128,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,888},{86,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,92},{86,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1506},{80,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,92},{80,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1424},{80,122}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,93},{80,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1506},{80,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,92},{80,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,130},{88,126}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,78},{88,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1170},{104,124}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{104,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{80,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,92},{80,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T2FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1062},{106,106}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,91},{106,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goonie1T2AttackNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{254,1632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b82f628fa1c3429c923c489e09f50cd:babf736181307fd0c79649cbcb92caf4:1e908c0854c3b0211de008164d1e3499$</string>
            <key>textureFileName</key>
            <string>Goonie1T2AttackNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
