<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HealingCenterT1Base00.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,407},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,549},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,343},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,272},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,272},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base05.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,208},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,137},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base07.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,137},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base08.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,137},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,826},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Base10.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,620},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube00.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,414},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,208},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube02.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>HealingCenterT1Tube10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HealingCenterT1@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f73043bad7db6941e25b197377525c9:cef77a4b927909127f3231778f6a672a:73d221e2ddcb292a207ca10912a8c1ba$</string>
            <key>textureFileName</key>
            <string>HealingCenterT1@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
