<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilStorageT100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{118,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,149}}</string>
                <key>sourceSize</key>
                <string>{118,149}</string>
            </dict>
            <key>OilStorageT101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{118,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,149}}</string>
                <key>sourceSize</key>
                <string>{118,149}</string>
            </dict>
            <key>OilStorageT102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{118,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,149}}</string>
                <key>sourceSize</key>
                <string>{118,149}</string>
            </dict>
            <key>OilStorageT103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,149}}</string>
                <key>sourceSize</key>
                <string>{118,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OilStorageT1@2x.pvr.ccz</string>
            <key>size</key>
            <string>{122,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d285f6f3c77cb486bdaae08a2ba7768f:dfd4422cf21fbcd7441510a1088ad794:b61a00fdecc773f5a917895ac641a21f$</string>
            <key>textureFileName</key>
            <string>OilStorageT1@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
