<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TeamCenterT100.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,180},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>TeamCenterT101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>TeamCenterT102.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>TeamCenterT103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeamCenterT1@2x.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c94fbd26c75f7564a1b1de6a48ad89c9:c31318dcd3a82b860d60c44067812148:7fadb1b40280b852582760c9799aa75c$</string>
            <key>textureFileName</key>
            <string>TeamCenterT1@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
