<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MPMT100.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,802},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT101.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,602},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT102.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,602},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT103.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,402},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT104.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,402},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT107.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,202},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT108.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,202},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT110.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT111.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,198}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{164,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MPMT1@2x.pvr.ccz</string>
            <key>size</key>
            <string>{500,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ff460f657ebd738b02093a6d9f83dc7:b4b78c16ab269153b028ee1e1ccfb81f:2b023f7f7ad1e11a991a7f3413b7ea37$</string>
            <key>textureFileName</key>
            <string>MPMT1@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
