<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MPMT200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT201.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT202.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT203.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT204.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT205.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT206.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>MPMT207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,176}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{156,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MPMT2@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1266,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6355184e832bda1fd4b9c149e49e02:df6c689b3660e6598ac1b460edc05423:ed180ee97d5abb3d296830bebe33ed88$</string>
            <key>textureFileName</key>
            <string>MPMT2@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
