<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilDrillT300.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1515},{89,107}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{89,107}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1041},{91,103}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{91,109}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{91,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,113}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{91,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{91,119}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,119}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{89,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,121}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1269},{89,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,121}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{89,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,121}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,119}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,119}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{91,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{91,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,113}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{91,109}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{91,105}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{91,105}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>OilDrillT314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{89,105}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{89,105}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OilDrillT3@2x.pvr.ccz</string>
            <key>size</key>
            <string>{95,1731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef1213fba0540ed5961e06bfc974e93:ae102261343d77a56673672fc7ee2fe1:0efd4ac0e2424410847f93abcd4883a8$</string>
            <key>textureFileName</key>
            <string>OilDrillT3@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
