<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilStorageT200.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>OilStorageT201.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>OilStorageT202.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>OilStorageT203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OilStorageT2@2x.pvr.ccz</string>
            <key>size</key>
            <string>{554,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a50bc628e441dd79cae61f2e290b024:dbe29195dd7de82bef5e3a091e8c01fa:ff8a4c1b4fa825b17a6328a1bb9224ee$</string>
            <key>textureFileName</key>
            <string>OilStorageT2@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
